*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}
:root{ --p-01: rgb(14, 167, 14);
       --p-02: rgb(16,108,32);
       --p-03: rgb(15,116,34);
       --p-04: rgb(12,100,28);
       --p-05: rgb(11, 94, 24);
       --p-06: rgb(9, 86, 20);
       --p-07: rgb(8, 80, 16);
       --p-08: rgb(6, 74, 12);
       --p-09: rgba(17,117,34,255);
       --p-10: rgb(4,68,12);
       --p-11: rgb(6, 74, 12);
       --p-12: rgba(19,121,36,255);
       --p-13: rgba(20,124,38,255);
       --p-14: rgba(21,126,40,255);
}
body{
          background: rgb(186, 187, 188);
          width: 100%;
          height: 100%;
}
form{
          display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}
.container{
          position: absolute;
          top: 50%;
          left: 50%;
          background: linear-gradient(to bottom,var(--p-14),var(--p-02),var(--p-06));
          transform: translate(-50%, -50%);
          padding: 3em;
          border-radius: 10px 40px;
          color: #ffffff;
          font-weight: bold;
}
.box{
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-top: 0.25em;
          
}
.box input{
          display: block;
          margin-left: 13px;
          margin-bottom: 1px;
          border-radius: 10px;
          width: 160px;
          height: 50px;
          background: #ffffff;
          color: rgb(0, 0, 0);
          border: none;
          font-size: 1.7em;
          font-weight: bold;
          font-family: 'Cambria';
}
.box input:hover{
          background: var(--p-01);
      }
.tela{
        align-items: center;
        padding: 0.30em;
        position: absolute;
        left: 35.5%;
        top: -3%;
        font-size: 1.7em;
        border-radius: 0.5em;
        font-weight: bold;
        
    }
.tela p{
    padding-top: 0.175em;
}